<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather</title>
    <link rel="icon" href="img/weather_icon.png">
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body>

    <div class="main-content">
        {{>header}}
      <form>
          <input type="text" placeholder="location">
          <input type="submit" value="Search" >
      </form>
        <p id="search_result"></p>

    </div>
    {{>footer}}
    <script src="/js/script.js"></script>
</body>
</html>